name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Generate Snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: AliTalebmoh
          outputs: dist/snake.svg

      - name: Verify Generated Files
        run: |
          ls -lah dist/
          cat dist/snake.svg || echo "File not found"


      - name: Commit and Push to Output Branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git checkout -B output
          mv dist/snake.svg snake.svg
          git add snake.svg
          git commit -m "Generated snake animation"
          git push -u origin output --force
